<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="net.elfmission.WindowsApps.ImageSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="net.elfmission.WindowsApps.ImageSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <net.elfmission.WindowsApps.ImageSplitter.Properties.Settings>
            <setting name="IsDefaultSelectAtLastFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastOpendPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ThumbNailImageSize" serializeAs="String">
                <value>LargeImage</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainFormStartPosition" serializeAs="String">
                <value>CenterScreen</value>
            </setting>
            <setting name="MainFormPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ThumbNailColorDepth" serializeAs="String">
                <value>Depth24Bit</value>
            </setting>
            <setting name="ShowFinishedMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewerFormFileNamePosition" serializeAs="String">
                <value>BottomLeft</value>
            </setting>
            <setting name="ViewerFormFileNameColor" serializeAs="String">
                <value>HighlightText</value>
            </setting>
            <setting name="CloseViewerForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsLeftUseForForward" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskCloseForViewer" serializeAs="String">
                <value>True</value>
            </setting>
        </net.elfmission.WindowsApps.ImageSplitter.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <net.elfmission.WindowsApps.ImageSplitter.Properties.Settings>
            <setting name="PluginFolderName" serializeAs="String">
                <value>Plugins</value>
            </setting>
        </net.elfmission.WindowsApps.ImageSplitter.Properties.Settings>
    </applicationSettings>
</configuration>
